<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.LoginTicketMapper">

    <sql id="selectFields">
        id,user_id,ticket,status,expired
    </sql>
    <sql id="insetFields">
        user_id,ticket,status,expired
    </sql>

    <insert id="insertLoginTicket">
        insert into login_ticket (<include refid="insetFields"></include>)
        VALUE (#{userId}, #{ticket}, #{status}, #{expired})
    </insert>

    <select id="selectByTicket" resultType="LoginTicket">
        select <include refid="insetFields"></include> from login_ticket
        where ticket = #{ticket}
    </select>

    <update id="updateStatus">
        update login_ticket set status = #{status} where ticket = #{ticket}
    </update>
</mapper>